/build/
/.vs/
/out/
*.user
*.pdb
/bindings/dotnet/**/bin/
/bindings/dotnet/**/obj/
/bindings/rust/target/
/docs/specs/tutorials/sample/bin/
/docs/specs/tutorials/sample/obj/
/node_modules/
/tools/__pycache__/
/tests/__pycache__/
/retype.manifest
